@keyframes slideFromLeft {
    from {
      transform: translateX(-200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideFromRight {
    from {
      transform: translateX(200%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideFromBottom {
    from {
      transform: translateY(200%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slide-from-left {
    animation: slideFromLeft 2s ease-in-out forwards;
  }
  
  .slide-from-right {
    animation: slideFromRight 2s ease-in-out forwards;
  }
  
  .slide-from-bottom {
    animation: slideFromBottom 2s ease-in-out forwards;
  }

  @keyframes airyEffect {
    0% {
      transform: translateY(0);
      opacity: 0;
    }
    50% {
      transform: translateY(-200px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .airiness {
    animation: airyEffect 2s ease forwards;
  }
  
  