@keyframes circleEffect {
  0% {
    transform: rotate(0deg) translateY(-150px);
  }
  100% {
    transform: rotate(360deg) translateY(0px);
  }
}

.circle-animation img {
  animation: circleEffect 2s ease-in-out forwards;
}
